@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{margin:0; padding:0;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei",arial,sans-serif;}
body{color:#333;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0 none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal;}
code,kbd,pre,samp,tt{font-family:"Microsoft YaHei",monospace,serif}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
button{cursor:pointer;}
button,input,select,textarea{font-size:100%;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
small{font-size:12px}
legend{color:#000}
input[type="text"], input[type="password"]{text-indent:5px; *text-indent:0 !important;}
fieldset{border:1px #e5e5e5 solid;}
legend{margin-left:20px; color:#777; font-size:14px; font-weight:bold;}
:focus {outline:0;}
li img{vertical-align:middle;}
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}

.progress-wrap li{margin-bottom:10px;}
.progress-wrap .progress-bar{background-color: #f1f1f1;position:relative;margin: 0 10px;height:20px;border-radius:3px;overflow:hidden;width: 270px;display: inline-block;vertical-align: middle;}
.progress-wrap .progress-bar .bar{position: absolute;background-color:#1fb5ab;height:100%;border-radius:3px;}